@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

.registrationfields {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.registerfield > input {
    align-self: center;
}
.registerfield {
    align-content: center;

    margin-top: 30px;
    font-family: inherit;
    width: 70%;
    align-self: center;
    border: 2px #cadefc solid;
    border-radius: 7px;
    /* outline: 10; */
    font-family: "Poppins", sans-serif;
    line-height: 5;
    font-size: 1.2rem;
    color: black;
    /* padding: 7px 0; */
    background: white;
    /* transition: border-color 0.2s; */
    /* &::placeholder {
        color: transparent;
    } */
}
.submit-btn-register {
    align-self: center;
    background-color: #defcf9;
    color: black;
    height: 7vh;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: 30px;
}

.aboutmeTitle {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}
.aboutMe {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.meContainer {
    background-color: #c3bef0;
    display: flex;
}

.mememe {
    padding-left: 30px;
    margin-top: 30px;
    height: 400px;
}

.meText {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.stop img {
    height: 50px;
}

.error {
    font-weight: bold;
    color: red;
}
/* .register {
    background-color:
} */

.innerLink {
    background-color: green;
}

.logotop {
    max-height: 100px;
}
.logotop:hover {
    background: linear-gradient(
        to right,
        rgba(203, 96, 179, 1) 0%,
        rgba(219, 54, 164, 1) 0%,
        rgba(193, 70, 161, 1) 0%,
        rgba(154, 99, 152, 1) 27%,
        rgba(110, 133, 142, 1) 58%,
        rgba(50, 179, 129, 1) 100%
    );
}

.profileSmall {
    max-height: 100px;
    max-width: 100px;
    border-radius: 4px;
}

.largeProfilePic {
    max-width: 200px;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
.hiddenLink {
    width: 80%;
    height: 180px;
    top: 0;
    left: 20%;
    position: absolute;
}

.topBar {
    display: flex;
    box-sizing: border-box;

    width: 100%;
    height: 180px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    top: 0;
    background-color: #cadefc;

    border-bottom: 1px solid grey;
    /* border-spacing: 15px; */
    -webkit-box-shadow: 0px px 4px -3px rgba(138, 75, 138, 1);
}
#uploader {
    height: 40%;
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cca8e9;
    font-family: "Poppins", sans-serif;

    background: #cca8e9;
    box-shadow: 0 0 10px #504bff, 0 0 20px #504bff, 0 0 30px #504bff;
    transition: all 2.5s ease;
}

.sidebarContainer {
    box-sizing: border-box;

    position: fixed;
    left: -100%;
    width: 50%;
    max-width: 50%;
    height: 100%;
    top: 0%;
    background: #cadefc;
    opacity: 100%;
    -webkit-box-shadow: 6px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 2px 5px 0px rgba(0, 0, 0, 0.75);

    /* animation: slide-open 0.7s forwards; */
}
.resultsFromPost {
    left: 0;
    top: 0;
    font-family: "Poppins", sans-serif;

    padding-left: 50px;
    padding-top: 30px;
    max-width: 75%;
}
.preview {
    max-width: 60%;
    max-height: 60%;
}
.intro {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 70%;
}
.sidebarContainerOpens {
    animation: slide-open 0.7s forwards;
    z-index: 4;
}

.sidebarContainerCloses {
    animation: slide-close 0.7s forwards;
}

.sideClosed {
    position: fixed;
    left: 0%;
    width: 30%;
    max-width: 50%;
    height: 100%;
    top: 0%;
    background: black;
    opacity: 100%;
    animation: slide-close 1s forwards;
    z-index: 3;
}

.closeSidebar {
    display: table-cell;

    color: black;
    font-size: 75px;
    border: 3px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}
@keyframes slide-open {
    100% {
        left: 0;
    }
}

@keyframes slide-close {
    1% {
        left: 0;
    }
    50% {
        left: -50%;
    }
    100% {
        left: -100%;
    }
}
.mainSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toUploader {
    text-decoration: none;
}
.barLink {
    height: 200px;
    width: 100%;
    margin-bottom: 3px;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: white;
    -webkit-box-shadow: 11px 13px 13px -12px rgba(122, 115, 122, 0.35);
    -moz-box-shadow: 11px 13px 13px -12px rgba(122, 115, 122, 0.35);
    box-shadow: 11px 13px 13px -12px rgba(122, 115, 122, 0.35);
    background: #c3bef0;
    background: -moz-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #7568f1),
        color-stop(100%, #4b4d51)
    );
    background: -webkit-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: -o-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: -ms-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
}

.barLink:hover {
}
.ignore-css {
    all: unset;
}

.profileLink {
    background-color: #fab2b3;
}

.favlink {
    background-color: #facea1;
}

.mostLiked {
    background-color: #fcfcbe;
}

.useful {
    background-color: #b9facf;
}

.aboutMe {
    background-color: #b3d2ff;
}

.filler1 {
    background-color: #d6aef7;
}

.filler2 {
    background-color: #fac1f8;
}
input[type="file"] {
    display: none;
}

.upload:button {
    background: red;
}
label {
    padding: 10px;
    background: rgb(65, 210, 166);
    /* opacity: 30%; */
    display: table;
    color: #defcf9;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #defcf9;
}

.uploadButton {
    /* align-self: stretch; */
    background-color: #defcf9;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 35%;
    font-family: "Poppins", sans-serif;

    height: 20%;
    font-size: 40px;
    /* z-index: 1; */
}
.radioMatch label {
    background-color: transparent;
    color: black;
    font-family: "Poppins", sans-serif;
}
.radioMatch {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uploaderLable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    width: 70%;
    color: black;
    font-weight: bold;
    font-size: 50px;
    background-color: #cca8e9;
    font-family: "Poppins", sans-serif;

    -webkit-box-shadow: 11px 10px 24px -6px rgba(148, 44, 148, 1);
    -moz-box-shadow: 11px 10px 24px -6px rgba(148, 44, 148, 1);
    box-shadow: 11px 10px 24px -6px rgba(148, 44, 148, 1);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.fromSector {
    width: 100%;
}
.closeModal {
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    font-size: 100%;
    /* flex-index: 2; */
}
.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    font-size: 30px;

    transition: 0.4s;
    -webkit-box-shadow: 11px 13px 13px -12px rgba(122, 115, 122, 0.35);
    -moz-box-shadow: 11px 13px 13px -12px rgba(122, 115, 122, 0.35);
    box-shadow: 11px 13px 13px -12px rgba(122, 115, 122, 0.35);
    background: #c3bef0;
    background: -moz-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #7568f1),
        color-stop(100%, #4b4d51)
    );
    background: -webkit-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: -o-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: -ms-linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
    background: linear-gradient(top, #c3bef0 0%, #4b4d51 100%);
}

.active,
.accordion:hover {
    background-color: #ccc;
}
p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.accordionBars {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    padding: 0 18px;
    width: 100%;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: white;
    overflow: hidden;
    align-self: flex-start;
    transition: max-height 1s linear;
}
.latestProductContainter {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.latestProduct {
    padding-top: 10px;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.grow {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    justify-content: center;
    align-self: center;
}
.input[type="radio"] {
    -webkit-transform: scale(5); /* Chrome, Safari, Opera */
    transform: scale(5);
}
.emptyclass {
    display: flex;
}
.latestProduct {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}
.mainSearch {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}
.frontpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.resultTitleTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resultTitle {
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.resultTitle > p {
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.modalUploaderMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

.resultTitle > img {
    height: 50px;
    width: auto;
}
.modalUploader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    height: 100%;
    width: 100%;
}
.oopserrorimg {
    width: 80%;
    height: auto;
    align-self: center;
}
.oopsError {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    max-width: 60%;
}
.oopsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.waits {
    padding-top: 30px;
    width: 150px;
    height: auto;
    align-self: center;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 55%;
}
.profileContainer {
    display: inline;
    flex-direction: column;
    /* align-items: center; */
}

.editBio {
    color: blue;
    background-color: transparent;
    border: 0;
}
.editBio:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.profilbio {
    display: flex;
    flex-direction: row;
}
.profilbio > div {
    width: 100%;
}

.latestUsers {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 200px;
    width: 200px;
}
.profilbio > ul {
    max-width: 100%;
    width: 100%;
}

.latestUsers > img {
    max-width: 100%;
    width: 100%;
}
.latestUsers > ul {
    max-width: 100%;
    width: 100%;
}

.a {
    color: #e7484f;
}
.b {
    color: #f68b1d;
}
.c {
    color: #fced00;
}
.d {
    color: #009e4f;
}
.e {
    color: #00aac3;
}
.f {
    color: #732982;
}
.addFriend:hover:enabled {
    background-image: linear-gradient(
        to right,
        #e7484f,
        #f68b1d,
        #fced00,
        #009e4f,
        #00aac3,
        #732982
    );
    animation: slidebg 2s linear;
}

.button:hover:enabled {
    background-image: linear-gradient(
        to right,
        #e7484f,
        #f68b1d,
        #fced00,
        #009e4f,
        #00aac3,
        #732982
    );
    animation: slidebg 2s linear;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}
.addFriend {
    background-color: #ab60ba;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    /* background: none; */
    outline: solid;
    border-color: transparent;

    /* border-color: #ab60ba; */
}

.hamburger {
    display: inline-block;
    height: 30%;
    max-width: 30%;
    margin-right: auto;
    padding-left: 10px;
}

.title {
    margin-right: auto;
    font-family: "Princess Sofia", cursive;
    font-size: 80px;
    font-weight: bold;
}

.button {
    background-color: #ab60ba;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    /* background: none; */
    outline: solid;
    border-color: transparent;

    /* border-color: #ab60ba; */
}
.button:disabled {
    background-color: rgb(191, 170, 179);
}

.latestUsers > li {
    max-width: 100%;
}
